
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <div></div>
            <h1>404</h1>
        </div>
        <h2>Aradığın Sayfayı Bulamıyoruz.</h2>
        <p>Aradığınız sayfa kaldırılmış, adı değiştirilmiş veya geçici olarak kullanılamıyor.</p>
    </div>
</div>


@section Styles {
    <link href="~/Content/ErrorPage.css" rel="stylesheet" />
}